{% extends 'BaseInstructorDashboard.html' %}

{% block main_section %}

    <table class="shadow-lg rounded-2xl bg-white">
        <thead class="font-mono font-bold text-md uppercase">
            <tr class="[&>td]:px-2">
                <td>#</td>
                <td>Title</td>
                <td>Type</td>
                <td>Course Type</td>
                <td>Total Marks</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
            </tr>
        </tbody>
    </table>

{% endblock %}