{% extends 'BaseStudentDashboard.html' %}

{% block main_section %}
    <h1></h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Total Marks</th>
                <th>Obtained Marks</th>
                <th>Precentage</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in enrollment.marks.all %}
            <tr>
                <td>{{entry.title}}</td>
                <td>{{entry.category}}</td>
                <td>{{entry.total_marks}}</td>
                <td>{{entry.obtained_marks}}</td>
                <td>{{entry.precentage}}%</td>
            </tr>
            {%endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total Marks:</td>
                <td>{{enrollment.course_total_marks}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}