{% extends 'temps/academics/StudentDashboard.html '%}

{% block main_section %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="CGPA" value="3.84" icon="🎓" color="blue" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Attendance" value="92%" icon="📅" color="green" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Credits" value="72/130" icon="📜" color="purple" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Dues" value="$0.00" icon="💳" color="slate" %}

</div>
{% endblock %}