{% extends 'BaseStudentDashboard.html'%}

{% block main_section %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="CGPA" value=user.student_profile.calculate_cgpa icon="🎓" color="blue" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Attendance(%)" value=attendance_percentage icon="📅" color="green" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Credits" value=user.student_profile.earned_credits icon="📜" color="purple" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Dues" value=user.student_profile.dues icon="💳" color="slate" %}

    <div class="w-auto md:col-span-3 shadow-md p-2 rounded-2xl">
        <canvas id="bar-chart"></canvas>
    </div>
    <data value=""></data>
    <div class="w-auto  shadow-md p-2 rounded-2xl">
            <canvas id="radio-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.querySelector('#bar-chart')
        const getLabel = {{ label|safe }};
        const getSGPA = {{ sgpa|safe }};
        new Chart(ctx, {
            'type':'bar',
            'data':{
                'labels': getLabel,
                'datasets':[{
                    'label': 'SEMESTER GPA',
                    'data':getSGPA,
                    'borderwidth': 1
                }]
                
            },
            'options':{
                'scales': {
                    'y':{
                        'BeginAtZero':true
                    }
                }
            }
        });
    </script>
</div>
{% endblock %}