{% extends 'BaseStudentDashboard.html'%}

{% block main_section %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="CGPA" value=user.student_profile.calculate_cgpa icon="🎓" color="blue" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Attendance" value="92%" icon="📅" color="green" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Credits" value=user.student_profile.earned_credits icon="📜" color="purple" %}
    
    {% include 'temps/academics/components/StudentDashboard/stats_card.html' with title="Dues" value=user.student_profile.dues icon="💳" color="slate" %}

</div>
{% endblock %}