{% extends 'base.html' %}

{% block title %}
    {% block student_title %} {% endblock %}
{% endblock %}
{% block content %}
    <div class="min-w-screen min-h-screen bg-gray-300">
        {% include 'temps/academics/components/StudentDashboard/navbar.html'%}
        {% block navbar %}{% endblock %}

        {% include 'temps/academics/components/StudentDashboard/sidebar.html' with page_name=page_name%}
        {% block sidebar %}{% endblock %}

        <section class="pt-16 md:ml-70 pr-0">
            <div class="text-black bg-slate-50 shadow-xl md:p-4 py-8 h-screen max-w-fit overflow-x-auto min-w-full">
                {% block main_section %} {% endblock %}
            </div>
        </section>
    </div>
    
    <script>
        const sb_btn = document.querySelector('#sb-menu-btn')
        const sidebar = document.querySelector('#sidebar')
        const sb_close_btn = document.querySelector('#close-sb-btn')
        sb_btn.addEventListener('click',()=>{
            sidebar.classList.remove('hidden')
        })
        sb_close_btn.addEventListener('click', () => {
            sidebar.classList.add('hidden')
        })
    </script>
{% endblock %}