{% block navbar %}
    <nav class="flex flex-row bg-slate-800 h-16 fixed top-0 min-w-screen">
        <div class="w-full text-white flex flex-row items-center justify-center">
            <h1 class="text-2xl font-bold">Student Dashboard</h1>
        </div>
        <div class="w-full text-white flex flex-row justify-center space-x-8 items-center">
            <a href="#" class="font-bold transition hover:text-gray-300">About CMS</a>
            <a href="{% url 'logout' %}" class="font-bold text-red-500 transition hover:text-red-700">Logout</a>
        </div>
    </nav>
{% endblock %}